.container {
    max-width: 820px;
    margin: 0px auto;
    margin-top: 70px;
}
.containerArea {
    float: left;
    width: 100%;
    height: auto;
}

.containerArea-text-area {
    float: left;
    width: 100%;
    height: auto;
}

.textinput {
    float: left;
    width: 100%;
    min-height: 75px;
    outline: none;
    resize: none;
    border: 1px solid grey;
}

.chooseFile {
    margin-bottom: 4%;
}

.uploadBtn {
    margin-bottom: 4%;
    margin-top: 4%;
}

button {
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	color: black;
	background: white;
	border: 2px solid black;
	box-shadow: 5px 5px 0 black,
		-5px -5px 0 black,
		-5px 5px 0 black,
		5px -5px 0 black;
	transition: 500ms ease-in-out;
}

button:hover {
	box-shadow: 20px 5px 0 black, -20px -5px 0 black;
}

button:focus {
	outline: none;
}

.spanWord {
    color: white;
    font-size: 190%;
}

@media screen and (max-width: 768px) {
    .container {
      margin: 5%;
    }
}