.textinput {
    color: black;
    float: left;
    width: 100%;
    height: 50%;
    outline: none;
    resize: none;
    border: 1px solid grey;
}

.textinputLocal {
    color: black;
    float: left;
    width: 100%;
    height: 80%;
    outline: none;
    resize: none;
    border: 1px solid grey;
}

.uploadBtn {
    margin-bottom: 1%;
    margin-top: 4%;
}

button {
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	color: black;
	background: white;
	border: 2px solid black;
	box-shadow: 5px 5px 0 black,
		-5px -5px 0 black,
		-5px 5px 0 black,
		5px -5px 0 black;
	transition: 500ms ease-in-out;
}

button:hover {
	box-shadow: 20px 5px 0 black, -20px -5px 0 black;
}

button:focus {
	outline: none;
}

.spanWord {
    color: white;
    font-size: 190%;
}



@media screen and (max-width: 768px) {
    .uploadBtn {
        margin-bottom: 8%;
        margin-top: 10%;
    }
    .textinput {
        float: left;
        width: 100%;
        height: 65%;
        outline: none;
        resize: none;
        border: 1px solid grey;
    }
    .textinputLocal {
        float: left;
        width: 100%;
        height: 85%;
        outline: none;
        resize: none;
        border: 1px solid grey;
    }
}